body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}
h4 {
  margin-bottom: 10px;
}
#icon {
  position: absolute;
  transform: translate(5px, 3px);
}
#option {
  padding-left: 30px;
}
#postal {
  padding-left: 30px;
}
input {
  background-color: white;
  box-sizing: border-box;
  padding-left: 35px;
}
.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container__title {
  height: 10%;
  width: 50%;
  align-items: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  transform: rotate(-0.02deg);
}
.container__content {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container__content__form {
  height: 100%;
  width: 50%;
}
.container__content__form__contact {
  height: 30%;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.container__content__form__contact h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transform: rotate(-0.02deg);
}
.container__content__form__contact__item {
  height: 40%;
  width: 100%;
}
.container__content__form__contact__item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
.container__content__form__contact__item input {
  height: 60%;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
  outline: none;
}
.container__content__form__Shipping {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.container__content__form__Shipping h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transform: rotate(-0.02deg);
}
.container__content__form__Shipping__item {
  height: 20%;
  width: 100%;
}
.container__content__form__Shipping__item input {
  height: 60%;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
  outline: none;
}
.container__content__form__Shipping__confirm {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
.container__content__form__Shipping__confirm p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
.container__content__form__Shipping__infoCity {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content__form__Shipping__infoCity__item {
  height: 100%;
  width: 45%;
}
.container__content__form__Shipping__item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
.container__content__form__Shipping__infoCity__item input {
  height: 60%;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
}
.container__content__form__Shipping__infoCity__item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
.container__content__form__Shipping__infoCity__item select {
  height: 60%;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
}
.container__content__form__button {
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.container__content__form__button input {
  height: 80%;
  width: 35%;
  background: #f2994a;
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.container__content__product {
  height: 75%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  border-radius: 12px;
}
.container__content__product__view {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container__content__product__view__card {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container__content__product__view__card__image {
  height: 100%;
  width: 45%;
  border-radius: 15px;
  object-fit: contain;
}
.container__content__product__view__card__info {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container__content__product__view__card__info__np {
  height: 38%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #4e5150;
}
#price {
  font-size: 11px;
  color: #f2994a;
}
#rebaja {
  text-decoration-line: line-through;
  font-size: 10px;
  color: #4e5150;
}
.container__content__product__view__card__info__au {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.container__content__product__total {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container__content__product__total__item {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content__product__total__item:first-of-type {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.container__content__footer p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}
@media screen and (max-width: 375px) {
  .container {
    height: auto;
    justify-content: flex-start;
  }
  .container__title {
    width: 90%;
    height: 7vh;
    margin: 10px;
  }
  .container__content {
    height: 140vh;
    width: 90%;
    flex-direction: column;
  }
  .container__content__product {
    height: 50%;
    width: 100%;
  }
  .container__content__form {
    order: 2;
    height: 100%;
    width: 100%;
  }
  .container__content__footer p {
    margin-top: 40px;
  }
  #icon {
    position: absolute;
    transform: translate(5px, 13px);
  }
}
